---
import Base from "$layouts/Base.astro";
---

<Base title="500">
	<main class="contents">
		<div class="inline-flex flex-col items-center justify-center gap-2 text-center grow-0.5 animate-shaky">
			<span class="text-6xl font-bold">500</span>
			<span class="text-2xl">Internal Server Error</span>
		</div>
		<a href="/" class="text-lg text-center link">&gt; Back</a>
		<script is:inline src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
		<script is:inline>
			const root = document.documentElement;
			let primaryColor = getComputedStyle(root).getPropertyValue("--primary-color").trim();
			let bgColor = getComputedStyle(root).getPropertyValue("--block-color").trim();
			kofiWidgetOverlay.draw("feli77", {
				type: "floating-chat",
				"floating-chat.donateButton.text": "Support Me",
				"floating-chat.donateButton.background-color": bgColor,
				"floating-chat.donateButton.text-color": primaryColor
			});
		</script>
	</main>
</Base>
